<main class="contenedor contenedor-formularios">
    <h1><%= pageName %></h1>
    <form method="POST" class="default-form">
        <legend>Are you sure you want to delete this Meeti? Eliminated meetis cannot be recovered.</legend>
        <div class="campo enviar">
            <input type="submit" value="Delete Meeti" class="btn btn-rosa">
        </div>
    </form>
</main>