<main class="contenedor contenedor-formularios no-padding">
    <h1><%= pageName %></h1>

    <form class="default-form" action="/update-password" method="POST">
        <div class="campo">
            <label>Current Password</label>
            <input type="password" name="current_password" placeholder="Current Password" required>
        </div>
        <div class="campo">
            <label>New Password</label>
            <input type="password" name="new_password" placeholder="New Password" required>
        </div>
        <div class="campo enviar">
            <input type="submit" class="btn btn-rosa" value="Update Password">
        </div>
    </form>
</main>