<h1 style="text-align: center; font-family: Arial, Helvetica;">Confirm Account</h1>
<p style="font-family: Arial, Helvetica;">Hello, you are one step away before starting to create a comunity on Meeti,you only have to confirm your account through the following link:</p>

<a style="
    display: block; 
    font-family: Arial, Helvetica; 
    padding: 1rem; 
    background-color: #00C897; 
    color:white; 
    text-transform:uppercase; 
    text-align:center; 
    text-decoration:none;" 
    href="<%= url %>">Confirm your account</a>
<p style="font-family: Arial, Helvetica;">If you cannot access the following link, visit : <%= url  %></p>
<p style="font-family: Arial, Helvetica;">If you have not asked for this maiil , you can ignore it</p>